.map{
 height:65vh;
 margin-right: 15%;
 margin-left: 10%;
 box-shadow: 0 0 8px -4px rgba(197, 16, 16, 0.5);
 border-radius: 3%; 
}
.flag-info{
  height: 80px;
  width:100%;
  background-size: cover;
  border-radius: 8px;
}
.flag-info img{
  width:100px;
  border-radius: 5px;
}
